<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2d8e3">  <td>23/10/18 22:09:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:Testclass_Package.Put_TC1@3688eb5b]">executor</td> 
  <td>main@428039780</td>   <td></td> </tr>
<tr bgcolor="a3667b">  <td>23/10/18 22:09:18</td>   <td>6830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:Testclass_Package.Get_TC1@d771cc9]">executor</td> 
  <td>main@428039780</td>   <td></td> </tr>
<tr bgcolor="8a9499">  <td>23/10/18 22:09:17</td>   <td>5538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:Testclass_Package.Patch_TC1@5ef5c734]">executor</td> 
  <td>main@428039780</td>   <td></td> </tr>
<tr bgcolor="899890">  <td>23/10/18 22:09:20</td>   <td>9144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:Testclass_Package.Post_TC1@36b4091c]">executor</td> 
  <td>main@428039780</td>   <td></td> </tr>
<tr bgcolor="ba9fc4">  <td>23/10/18 22:09:23</td>   <td>11446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TC1.executor()[pri:0, instance:Testclass_Package.Delete_TC1@4671115f]">executor</td> 
  <td>main@428039780</td>   <td></td> </tr>
</table>
